<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="ad.size" content="width=%%rong%%,height=%%cao%%">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script>
        var clickTag = "%%this_is_click%%";
    </script>
</head>
<body style="margin: 0;">
    <a href="javascript:void(window.open(window.clickTag))">
        <img src="img.jpg" style="width:100%;border:none;">
    </a>
</body>
</html>