@charset "utf-8";
/* CSS Document */
body, html {
	margin: 0;
	padding: 0;
	font-family: Tahoma, Geneva, sans-serif;
}
.fullbg7 {
	width: 1280px;
	height: 720px;
	background: url(../images/ntttoon_bg.jpg) no-repeat;
	overflow: hidden;
	z-index: 1;
	/*center*/
	display: block;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 250px;
    right: 0;
}
.fullbg8 {
	width: 1280px;
	height: 720px;
	background: url(../images/ntttoon_bg2.jpg) no-repeat;
	overflow: hidden;
	z-index: 1;
	/*center*/
	display: block;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 250px;
    right: 0;
}
.art {
	z-index: 2;
}
.art img {
	height: 720px;
	margin-left:540px;
}
.unit_ele {
	position: absolute;
	top: 40px;
	left: 30px;
}
.unit_name {
	font-size: 48px;
	font-style: italic;
	font-weight: bold;
	color: #000;
	position: absolute;
	top: 20px;
	left: 80px;
	text-shadow: 0 0 1px #000, 0 0 10px #FFCC00,0 0 15px #FFCC00,0 0 20px #FFCC00;
	z-index: 3;
}
.box {
	position: absolute;
	left: 30px;
	z-index: 3;
}
.box_subinfo {
	position: absolute;
	left: 300px;
	color: #ffdb9c;
	font-size: 14px;
	top: 12px;
	text-shadow: 1px 1px #000000;
}
.box_name {
	color: #a08f59;
	font-size: 24px;
	font-style: italic;
	font-weight: bold;
	text-shadow: 1px 1px #000000;
}
.box_info {
	width: 630px;
	background-color: #322713;
	opacity: 0.9;
	border: #a08f59 solid 1px;
	border-radius: 6px;
	padding: 5px;
	font-size: 13px;
	color: #FFFFFF;
	font-style: normal;
	font-weight: normal;
	text-shadow: 1px 1px #000000;
}
.box_sp {
	width: 604px;
	height:100px;
	float:left;
	background: url(../images/list_bg.png) no-repeat;
	padding: 4px 12px 4px 12px;
	margin-right:15px;
	font-size: 13px;
	color: #FFFFFF;
	font-style: normal;
	font-weight: bold;
	text-shadow: 1px 1px #000000;
}
.box_sp_txt {
	width: 470px;
	height:64px;
	font-size: 14px;
	color: #FFFFFF;
	text-shadow: 1px 1px #000000;
}
.sp_required_btn {
	width: 98px;
	height:76px;
	float:right;
	text-align:center;
	margin-top:8px;
	background: url(../images/sp_required_btn.png) no-repeat;
	padding-top: 30px;
	font-size: 30px;
	color: #FFFFFF;
	text-shadow: 2px 2px 4px #000000;
}
.box_copyright {
	position: absolute;
	left: 30px;
	top: 5px;
	color: #ffffff;
	font-size: 12px;
	opacity:0.5;
}
