* {
  box-sizing: border-box;
}

body {
  font-family: 'Fauna One', serif;
}

body,
html {
  height: 100%;
}

.wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-perspective: 1000;
          perspective: 1000;
}

.section {
  height: 100%;
  width: calc( 100% / 5 );
  float: left;
  position: relative;
}
.section:nth-child(1) {
  background: #F64747;
}
.section:nth-child(2) {
  background: #22A7F0;
}
.section:nth-child(3) {
  background: #F9690E;
}
.section:nth-child(4) {
  background: #9B59B6;
}
.section:nth-child(5) {
  background: #03C9A9;
}
.sections {
  width: 500%;
  height: 100%;
}
.section__title {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 30px;
  color: #fff;
}